/* ===========================================================

	#LISTS

=========================================================== */

li {
	margin: $line-height / 4 0rem;
	margin-right: 0;
	list-style: none;

	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

.page__content ul,
.large-tile ul {
	margin-left: $line-height * 2;
}

.page__content li,
.large-tile li {

	position: relative;

	&:before {
		content: "";
		width: .7rem;
		height: .7rem;
		border-radius: 50%;
		background-color: $sec;
		position: absolute;

		left: -2rem;
		top: .6em;

	}

}