/* ===========================================================

	#LISTS

=========================================================== */

li {
	margin: $line-height / 4 0rem;
	margin-right: 0;
	list-style: none;

	&:first-child {
		margin-top: 0;
	}
	
	&:last-child {
		margin-bottom: 0;
	}
}

/* Unordered list */

.page__content ul,
.large-tile ul {
	margin-left: $line-height * 2;
}

.page__content ul li,
.large-tile ul li {

	position: relative;

	&:before {
		content: "";
		width: .7rem;
		height: .7rem;
		border-radius: 50%;
		background-color: $sec;
		position: absolute;

		left: -2rem;
		top: .6em;

	}

}

/* Ordered list */

.page__content,
.large-tile {

	ol {
//		counter-reset: list-counter;
		margin-left: $line-height * 2;
	}

	@for $i from 1 through 100 {
		ol[start="#{$i}"] {
			counter-reset: list-counter $i ;
		}
	}

	}

.page__content ol li,
.large-tile ol li {
	position: relative;

	&:before {
		content: counter(list-counter);
		counter-increment: list-counter;
		font-size: 1.8rem;
		font-weight: 900;
		color: $sec;
		display: block;
		left: -2.2rem;
		position: absolute;
		text-align: center;
	}


}




