
.counter {
	padding: 0.2rem .4rem .1rem .4rem;
	font-size: 1rem;
	color: #fff;
	display: inline-block;
	background-color: $pri;
	vertical-align: middle;
	text-align: center;
	border-radius: 50%;
	font-weight: 800;
	position: absolute;
/*	top: 1.4rem;*/
	right: 2rem;
}

@include respond-min( $mq-medium ) {

	.counter {
		top: 1.4rem;
		right: 0;
	}

}