/* ===========================================================

	#LISTING - IMAGE

=========================================================== */

.listing--article {
	color: $text-colour;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

@include respond-max( $mq-small ) {

	.listing--image {

		.listing__cover {
			margin-bottom: $line-height;
		}

	}

}

@include respond-min( $mq-small ) {

	.listing--image {

		.listing__cover {
			@include column(4);
		}

		.listing__content {
			@include column(7.5);
			@include push(.5);
			float:right;
		}

	}

}

