/* ===========================================================

	#PORTFOLIO CAROUSEL

=========================================================== */

.gallery__image--gif {
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	display: block;
	padding: 12% 0;
}