/* ===========================================================

	#UMBRACO FORMS

=========================================================== */

.field-validation-error {
	color: $pink--1;
	font-size: 75%;
	font-weight: 700;
}