/* ===========================================================

	#UMBRACO FORMS

=========================================================== */

.field-validation-error {
	color: $pink--1;
	font-size: 75%;
	font-weight: 700;
}

.contourField + .contourField {
	margin-top: $line-height;
}

.fieldLabel {
	font-weight: 700;
	color: $grey--3;
}

p + .contour {
	margin-top: 6rem;
}


.contourFieldSet + .contourFieldSet {
	margin-top: 8rem;
}

.page--ama {

	.contourFieldSet + .contourFieldSet {
		margin-top: 0 !important;
	}

	.contourField.text {
		margin-top: $line-height * 2;
	}

	.text h2 {
		@include heading-font-size($delta--small);
	}

}

@include respond-max( $mq-small ) {

	.col-md-6 + .col-md-6 {
		margin-top: $line-height;
	}

}

@include respond-min( $mq-small ) {

	.row-fluid {
		@include clearfix();
	}

	.col-md-6 {
		width: 50%;
		float: left;
	}

}

@include respond-min( $mq-medium ) {

	.contourFieldSet + .contourFieldSet {
		margin-top: 12rem;
	}

	.page--ama {
		.text h2 {
			font-size: 2.592rem;
			padding-bottom: 1.296rem;
		}
	}

}

.contour + h2,
.contour + h3, {
	margin-top: $line-height * 2;
}

.contourNavigation {
	margin-top: $line-height;
}

.contour.callbackform {

	input[type=submit].button {
		padding: 1.5rem 3rem;
	}

}

/* numbering 

.contourPage {
	counter-reset: section-counter;
}
.contourFieldSet h2:before {
	content: counter(section-counter);
	counter-increment: section-counter;
	
	font-size: 2.4rem;
	color: #fff;
	background-color: $blue--1;
	display: inline-block;
	vertical-align: top;
	padding: .5rem 1.2rem;
	border-radius: $border-radius;
	margin-right: 1rem;
}

.page--briefing-form {

	.contourField.textarea {

	}

}

*/
