/* ===========================================================

	#TABLES

=========================================================== */

.table-responsive {
	overflow-y: hidden;
	overflow-x: auto;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	-webkit-overflow-scrolling: touch;
	width: 100%;
}

table {
	border-bottom: $border-width solid $border-colour;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th, td {
	border-top: $border-width solid $border-colour;
	padding: 1.5rem 2rem;
	text-align: left;
	vertical-align: top;
}

th {
	font-weight: 600;
}
