/* ===========================================================

	#CASE STUDIES

=========================================================== */

.cta__heading {
	margin-top: 3rem;
}

.centered {
	text-align: center;
}

.grid-section {
	opacity: 0;
}

.ico-arrow-right--pagination {
	padding-left: 1rem;
	font-size: 1.2rem;
	vertical-align: middle;
}

.ico-arrow-left--pagination {
	padding-right: 1rem;
	font-size: 1.2rem;
	vertical-align: middle;
}

.text-tile {
	color: white;
	padding: 4rem;
	width: 100%;

	h1, h2, h3,
	h4, h5, h6 {
		color: white;
	}
}

.case-study__item {
		width: 50%;
		float: left;
		font-size: 0;
	}

@include respond-min( $mq-small ) {

	.doc--casestudy {

		.text-tile {

			.button + .button {
				margin-right: $line-height;
			}

		}

	}

	

}

.owl-dot {
	width: 1.2rem;
	height: 1.2rem;
	border-radius: 1.2rem;
	background: black;
	opacity: 0.3;
	display: inline-block;
	margin-left: 0.5rem;
}


.pagination__link {
	font-weight: 200;
	padding: 1rem 2rem;
	color: #738d8b;
	transition: background $speed ease;

	&:hover {
		color: #738d8b;
		background: #dfe5e5;
	}

	i {
		font-size: .6rem;
	}
}

.resource__tile {
	position: relative;
	width: 100%;

	&:before:hover {
		background-color: rgba(0, 0, 0, 0.7);
	};
}

.tile__heading {
	font-size: 2.56289rem;
}

.tile__heading,
.tile__tags {
	color: #fff;
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
   	backface-visibility: hidden;
}

.resource__content {
	position: absolute; 
	width: 100%;
	color: white;
}

.tile__tag {
	display: inline-block;
	margin: 0;

	&:after {
		content: "•";
		margin-left: .5rem;
	}

	&:last-of-type:after {
		display: none;
	}
}

.no-touch {

	.resource__tile {

		&:before {
			content: "";
			background: transparent;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			transition: background $speed ease;
		}

		&:hover:before {
			background: rgba(0,0,0,0.5);
		}

	}

	.resource__content {
		top: 50%;
		max-width: 80%;
		left: 0;
		right: 0;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		transform: translateY( -50% );
	}

	.tile__heading,
	.tile__tags {
		visibility: hidden;
		opacity: 0;
	}

	.tile__heading {
		transform: scale(.7);
		transition: opacity .5s ease, 
					visibility .5s ease, 
					transform .4s ease;
	}

	.tile__tags {
		transform: scale(.8);
		transition: opacity .5s ease .2s, 
					visibility .5s ease .2s, 
					transform .8s ease .2s;
	}

	.resource__tile:hover {

		.tile__heading,
		.tile__tags {
			visibility: visible;
			opacity: 1;
			transform: translate(0) scale(1);
		}

	}

	@include respond-min( $mq-x-large ) {

		.tile__heading {
			font-size: 5.37477rem;
		}

	}

}

.no-rgba.no-touch {

	.resource__tile:hover:before {
		background: url(/assets/img/transparent-black.png) repeat;
	}

}

@include respond-max( $mq-small ) {

	.case-study__item .tile__heading {
		font-size: 1.6rem;
	}

}

.touch {

	.tile__heading {
		text-align: left;
		padding-bottom: 0;
		margin-bottom: 1rem;
	}

	.case-study__item {

		.tile__heading {
			margin-bottom: 0;
		}

	}

	.tile__tags {
		line-height: 1;

	}

	.resource__content {
		bottom: 0;
		padding: 1rem;
		min-height: 5rem;
		background: rgba(0,0,0,.6);
	}

	.resource__content:before {
		opacity: .5;
	}
}

@include respond-min( $mq-medium ) {

	.touch {

		.tile__heading {
			font-size: 2.8rem;
		}

	}

}

@include respond-min( $mq-large ) {

	.touch {

		.resource__content {
			padding: 2rem;
		}

	}

}

/*
.no-touch {

	.resource__content {
		position: absolute; 
		width: 100%;
		color: white;
		text-align: center;

		top: 50%;
		transform: translateY( -50% );
	}

	.resource__item {
		margin: 0;
	}

	.resource__tile {

		&:before {
			content: "";
			background: #000;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;

			opacity: 0;
			transition: opacity $speed ease;
		}

		&:hover:before {
			opacity: .5;
		}
	}


	.tile__tag {
		display: inline-block;
		margin: 0;

		&:after {
			content: "•";
			margin-left: .5rem;
		}

		&:last-of-type:after {
			display: none;
		}
	}

	.resource__item:hover .tile__heading {
		opacity: 1;
		transform: scale(1.5);

	}

	.resource__item:hover .tile__tags {
		opacity: 1;
		transition: opacity 0.5s ease .2s, transform 0.8s ease .2s;
		transform: scale(1.2);
	}


	.related__study {
		position: relative;
		display: block;
		overflow: hidden;
	}

	.study__heading {
		position: absolute;
		bottom: 0;
		padding: 2rem;
		font-size: 2rem;
		color: #073734;
		width: 100%;
		background-color: rgba( 255, 255, 255, 0.6);
		transition: transform $speed ease;
		transform: translateY(20rem);

	}

	.related__study:hover > .study__heading {
		transform: translateY(0rem);
	}

}
*/

.pagination {
	border-bottom: 1px solid $light--3;
}

.pagination__link--prev {
	float: left;
}

.pagination__link--next {
	float: right;
}


.owl-dots {
	margin-top: 2rem;
}
.owl-dot.active {
	opacity: .5;
}

.case-testimonials {
	padding: 1rem;
	padding-top: 3rem;
	text-align: center;
	position: relative;
	display: block;
	width: 90%;
	margin: 0 auto;
}
.case-testimonials:after, 
.case-testimonials:before {
	height: 1em;
	position: absolute;
	font-size: 4em;
	color: #000;
	opacity: .3;
	font-family: Georgia, serif;
}

.case-testimonials:before {
	content: '“';
	top: -3rem;
	left: -3rem;
}

.case-testimonials:after {
	content: '”';
	bottom: -3rem;
	right: -3rem;
}

.grid-section{
	background-color: white;
}

.arrow-link {
/*	color: $dark--5;*/
	margin-top: 4rem;
	padding: 1.5rem 2rem;
	text-align: left;
}

.icon, 
em {
	font-family: tgdh-iconfont;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
}

.yellow {
	color: yellow;
}

.tile--result {

	.button + .button {
		margin-right: $line-height;
	}

}

@include respond-max( $mq-small ) {

	.float--right {
		float: right;
	}

}

@include respond-max( $mq-medium ) {

	.related__study {
		margin-bottom: $line-height;
	}

}

@include respond-min( $mq-medium ) {

	.text-tile {
		padding: 5%;
	}

	.tile__heading {
		font-size: 3.73248rem;
	}

	.case-study__section {
		width: 50%;
		margin-left: -1px!important;
		transform: translateX(1px);
	}

	.related__study {
		/*@include column(4);*/
		width: 33.33333333%;
		float: left;
	}
}

@include respond-min( $mq-large ) {

	.text-tile {
		padding: 7%;
	}

}