/* ===========================================================

	#NEWS

=========================================================== */

.post-date {
	color: $dark--3;
	margin-bottom: $line-height / 2;
}
.header-image {
	max-width: 90rem;
	margin: 0 auto;
}

@include respond-min( $mq-medium ){

	.header-image {
		padding-left: 2rem;
		padding-right: 2rem;
	}

}