
/* ===========================================================

	# Santa Selfie

=========================================================== */

.t-ss-header {
    background-color: #caeaf5;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.ss-headline {
    color: #fa6176;
}

.o-grid--four {

}
